{% extends 'layout.html' %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <div class="background">
        <div class="container">
            <!-- <span class="txt anim-text-flow">El Dorado</span>
            <div class="top">
                <div class="top-container">
                    <div id="particles-js"></div>
                    
                </div>
            </div> -->
            <!-- <img src="../static/img/back_yellow.jpg" alt="a"> -->
            <p>aaaaaa</p>
            <div class="card w-50 mx-auto mt-5">
                <form action="" method="post">
                    <p>Login</p>
                    <input type="text" name="name" id="" placeholder="Name" class="form-control"><br>
                    <input type="text" name="address" id="" placeholder="Address" class="form-control"><br>
                    <input type="text" name="number" id="" placeholder="Mobile Number" class="form-control"><br>
                    <input type="text" name="username" id="" placeholder="Username" class="form-control"><br>
                    <input type="password" name="pass" id="" placeholder="Password" class="form-control"><br>

                    <input type="submit" value="Login" class="btn btn-primary btn-block">
                </form>
            </div>

            <div class="card w-50 mx-auto mt-5">
                <form action="" method="post">
                    <p>Signup本当はこっちがログイン</p>
                    <input type="text" name="name2" id="" placeholder="Username" class="form-control"><br>
                    <input type="text" name="pass2" id="" placeholder="Password" class="form-control"><br>

                    <input type="submit" value="Signup" class="btn btn-primary btn-block">

                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../static/js/top.js"></script>
    <script src="../static/js/title.js"></script>
{% endblock %}