{% extends 'roomLayout.html' %}



{% block body %}
    <div class="container">
        <h1>線形代数</h1>
        <!-- users|length ~~ this checks if there are records in the variable users (from views.py) -->

        {% if roomAl1|length < 1 %}
            <!-- if there are no records... it will display this message -->
            <h3 class="text-danger">Zero posts</h3>
        {% else %}
            <!-- if there is content/records in user it will execute the code in the ELSE STATEMENT -->

            <!-- code in here displays ALL THE RECORDS in TABLE FORMAT -->
            <table class="table table-striped">
                <tr>
                    <th>Username</th>
                    <th>sentence</th>
                    
                </tr>
                <!-- looping through ALL THE RECORDS from views.py -->
                {%for sen in roomAl1 %}
                <tr>
                    <td>{{sen.uname}}</td>
                    
                    <td>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    {{sen.sentence}}
                                 </div>
                            </div>            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}


        <div class="card-footer">
            
           
            <div class="row">
                <div class="col-lg-12">
                    <h3>join discussion</h3>
                    <form action="/roomAlgebra" method="post">
                        <div class="card">
                            {{user.username}}
                            <div class="card-body">
                                <input type="text" name="sentence" placeholder="Write something here" class="form-control">
                                <input type="hidden" name="user_id" value="{{user.id}}">
                                <input type="hidden" name="uname" value="{{user.username}}">
                            </div>
                            <div class="card-footer">
                                <i class="far fa-image">
                                    <input type="file" name="image" id="" >
                                </i>
                                <input type="submit" value="Submit" class="btn btn-success float-right">

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
